<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.xdsml">
    <XDSML_Definition name="activity.minimal.example.K3act" xdsmlFilePath="/activity.minimal.example.k3act.xdsml/K3act.dsl" modelLoader_class="org.eclipse.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" />
  </extension>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.moccml.xdsml.addition">
    <MOCCML_XDSML_Addition name="activity.minimal.example.K3act" referencedXDSMLName="activity.minimal.example.K3act" codeExecutor_class="k3act.xdsml.api.impl.K3actCodeExecutor" solver_class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.extensions.timesquare.moc.impl.CcslSolver" toCCSLQVTOFilePath="/activity.minimal.example.moc.dse/qvto-gen/modeling/Activity.qvto" />
  </extension>
</plugin>
